Check all external references in document to make sure they are accurate and updated

IETF RFC 2119, Key words for use in RFCs to Indicate Requirement Levels. https://tools.ietf.org/html/rfc2119.
IETF RFC 7541, HPACK Header compression. https://tools.ietf.org/html/rfc7541. 
IETF RFC 3986, Uniform Resource Identifier (URI): Generic Syntax. https://tools.ietf.org/html/rfc3986.
IETF RFC 8259, The JavaScript Object Notation (JSON) Data Interchange Format.  https://tools.ietf.org/html/rfc8259. 
WHATWG URL Living Standard, Section 5, URL Encoding. Accessed 4 August 2020. https://url.spec.whatwg.org/#application/x-www-form-urlencoded. 
IETF RFC 8941 Structured Field Values for HTTP https://datatracker.ietf.org/doc/html/rfc8941 
IETF RFC 4122, A Universally Unique IDentifier (UUID) URN Namespace. https://tools.ietf.org/html/rfc4122. 
IETF RFC 6302, Logging Recommendations for Internet-Facing Servers. https://tools.ietf.org/html/rfc6302.
IETF RFC 7231, Hypertext Transfer Protocol (HTTP/1.1): Semantics and Content, Section 7.1.4, Vary header. http://tools.ietf.org/html/rfc7231#section-7.1.4.
ISO/IEC 23009-1 - Dynamic adaptive streaming over HTTP (DASH)  https://www.iso.org/standard/83314.html 
IETF RFC 8216  HTTP Live Streaming https://datatracker.ietf.org/doc/html/rfc8216 
HESP HiIgh Efficiency Streaming Protocol - draft https://datatracker.ietf.org/doc/draft-theo-hesp/ 
Microsoft Smooth Streaming Protocol - 2018. https://learn.microsoft.com/en-us/openspecs/windows_protocols/ms-sstr 

Done yesterday. Checked all refs, removed an unused reference, added two new references and also renumbered them. 